html, body, * {
    box-sizing: border-box;
}

.main-content {
    padding: 1rem;
    width: 73vw;
    max-width: 960px;
    margin: 0 27vw 0 8vw;
}

.main-contact {
    padding: 1rem;
    width: 73vw;
    max-width: 960px;
    margin: auto;
}

.table-of-contents {
    position: sticky;
    top: 95px;
    z-index: 0;
    float: right;
    margin-top: 1rem;
    margin-left: 10vw;
    margin-right: clamp(2vw, 5%, 10vw);
    width: 15%;
    min-width: 8rem;
    padding: 0;
}

nav.nav-bar-old {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    text-align: left;
    background-color: #700CBC;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
}

nav.nav-bar {
    display: flex;
    background-color: #700CBC;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    font-family: 'Times New Roman', Times, serif;
}

nav.nav-bar a {
    padding: 21px 24px;
    text-decoration: none;
    font-size: 17px;
}

.sign-in {
    margin-left: auto;
}

.logo {
    position: absolute;
    right: 5rem;
    top: 0;
    bottom: 1rem;
    z-index: 2;
}

.page-header {
    padding: 1rem;
    text-align: center;
    font-size: clamp(1rem, 1vw, 3rem);
    letter-spacing: .75em;
    line-height: 3rem;
    position: relative;
    z-index: 0;
    margin-top: 45px;
}

.figure-right {
    max-width: 55%;
    height: auto;
    float: right;
}

.figure-left {
    max-width: 55%;
    height: auto;
    float: left;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.bordered-box {
    border: 1px solid #700cbc;
    box-shadow: 2px 2px 5px #700cbc;
    border-radius: 10px;
    padding: 1rem;
}

.site-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #210934;
    width: 30%;
    min-width: 200px;
    margin: 1em 0;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: #f6ecfe;
    box-shadow: 0 2px 4px #A33AF2;
}

.team-member img {
    border-radius: 50%;
    box-shadow: 0 2px 4px #A33AF2;
}