.main-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    padding: 15px;
}

.image {
    max-height: 240px;
    max-width: 200px;
    border-radius: 50%;
}

.product-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.featured-product {
    grid-column: 2/6;
    grid-row: 1/2;
    justify-content: center;
    box-shadow: 0px 2px 4px #a33af2;
    border-radius: 4px;
}

.item1 {
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    box-shadow: 0px 2px 4px #a33af2;
    border-radius: 4px;
}

.item2 {
    grid-column: 4/7;
    grid-row: 2/3;
    justify-self: center;
    box-shadow: 0px 2px 4px #a33af2;
    border-radius: 4px;
}

.item3 {
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: center;
    box-shadow: 0px 2px 4px #a33af2;
    border-radius: 4px;
}

.item4 {
    grid-column: 3/5;
    grid-row: 3/4;
    justify-self: center;
    box-shadow: 0px 2px 4px #a33af2;
    border-radius: 4px;
}

.item5 {
    grid-column: 5/7;
    grid-row: 3/4;
    justify-self: center;
    box-shadow: 0px 2px 4px #a33af2;
    border-radius: 4px;
}

