/*
#F6ECFE very light
#A33AF2 fuschia
#700CBC violet
#36065B dark purple
#210934 very dark
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0rem;
    background-color: #F6ECFE;
    line-height: 1.4rem;
}

header {
    background-color: #a33af2;
    padding: 1rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    letter-spacing: .75em;
    line-height: 3rem;
}

h1 {
    color: #F6ECFE;
    font-size: 3rem;
}

h2, h3, h4, h5, h6{
    color: #210934;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    letter-spacing: .1em;
} 

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    color: #210934;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
}

ul {
    color: #210934;
    line-height: 1.5rem;
}

main {
    padding: 1rem;
    max-width: 55%;
    margin: auto;
}

.nav-link:link,
.nav-link:visited {
    color: #210934;
}

.nav-link:hover,
.nav-link:active {
    color: #700CBC;
    font-weight: bolder;
}

.nav-bar:link,
.nav-bar:visited {
    color: #210934;
}

.nav-bar:hover,
.nav-bar:active {
    color: #700CBC;
    font-weight: bolder;
}

footer a:link,
footer a:visited {
    color: #F6ECFE;
}

footer a:hover,
footer a:active {
    color: #F6ECFE;
    font-weight: bolder;
}

footer {
    background-color: #700CBC;
    padding: 2rem;
    text-align: center;
    color: #F6ECFE;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}