/*
#F6ECFE very light
#F4E7FD not quite as light but still very light
#e9d0fb a nice happy medium
#A33AF2 fuschia
#700CBC violet
#36065B dark purple
#210934 very dark
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0rem;
    background-color: #F6ECFE;
    line-height: 1.4rem;
}

header {
    background-color: #700CBC;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
}

h1 {
    color: #F6ECFE;
    font-size: 3rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: #210934;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    letter-spacing: .1em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    color: #210934;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
}

ul {
    color: #210934;
    line-height: 1.5rem;
}

footer a:link,
footer a:visited {
    color: #F6ECFE;
}

footer a:hover,
footer a:active {
    color: #F6ECFE;
    font-weight: bolder;
}

footer {
    background-color: #700CBC;
    padding: 2rem;
    text-align: center;
    color: #F6ECFE;
    font-family: 'Times New Roman', Times, serif;
}

.footer-heading {
    color: #F6ECFE;
}

.footer-content-right {
    text-align: right;
}

.footer-content-left {
    text-align: left;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-bar {
    color: #F6ECFE;
}

.nav-bar a:link,
.nav-bar a:visited {
    color: #F6ECFE;
}

.nav-bar a:hover,
.nav-bar a:active {
    color: #F6ECFE;
    font-weight: bolder;
    background-color: #36065b;
}

.table-of-contents a:link,
.table-of-contents a:visited {
    color: #210934;
}

.table-of-contents a:hover,
.table-of-contents a:active {
    color: #700CBC;
    font-weight: bolder;
}

input,
select,
textarea {
    display: block;
    font-weight: bold;
    font-size: .9rem;
    width: auto;
    margin: .5rem 0 .5rem;
    border: #A33AF2;
    border-radius: 3px;
    padding: .5rem;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    font-weight: bold;
    font-size: .9rem;
    width: auto;
    margin: .5rem 0 .5rem;
    border: #A33AF2;
    border-radius: 3px;
    padding: .5rem;
}

input[type="submit"],
input[type="reset"] {
    display: inline;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    width: auto;
    margin: .5rem, 0 .5rem;
    color: #F6ECFE;
    background-color: #700CBC;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #210934;
}

label,
legend {
    font-weight: bold;
    color: #210934;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1rem;
}

fieldset {
    border-radius: 5px;
    border-color: #700CBC;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: thin solid #210934;
}

table caption {
    font-weight: 800;
    font-size: 1.75em;
    font-family: 'Times New Roman', Times, serif;
    color: #F6ECFE;
    background-color: #36065b;
    padding: .5em;
}

thead tr {
    background-color: #700CBC;
    color: #210934;
}

th {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 8px;
}

td {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: #210934;
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #e9d0fb;
}